

<header class="bar bar-header bar-light">
    <h1 class="title">登陆</h1>
    <button class="button button-clear" ng-click="modal.close()">取消</button>
</header>

<div class="padding-header">
    <form name='loginForm' class="list list-inset" ng-submit="onLogin()">
        <label class="item item-input">
            <input name='username' type="text" placeholder="用户名或邮件" ng-model="username" required maxlength="16">
        </label>
        <label class="item item-input">
            <input name='password' type="password" placeholder="密码" ng-model="password" required ng-minlength='6' maxlength="20">
        </label>
        <button class="button button-block" ng-click="onLogin()">
            登录
        </button>
        <button class="button button-block" ng-click="navCtrl.go('modal/register.tpl.html')">
            注册
        </button>
    </form>
</div>


