

    <li class="side-menu-item" ng-class="{active: pos=='photos'}" ng-click="onSideMenu('photos')" >
        <span><i class="icon  ion-ios7-photos"></i></span><span> 照片</span>
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='products'}" ng-click="onSideMenu('products')" >
        <span><i class="icon  ion-ios7-cart"></i></span><span> 产品</span>
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='pros'}" ng-click="onSideMenu('pros')" >
        <span><i class="icon  ion-ios7-people"></i></span><span> 设计师</span>
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='ideabooks'}" ng-click="onSideMenu('ideabooks')" >
        <span><i class="icon  ion-ios7-bookmarks"></i></span><span> 灵感集</span>
    </li>    
    <li class="side-menu-item" ng-class="{active: pos=='advices'}" ng-click="onSideMenu('advices')" >
        <span><i class="icon  ion-chatboxes"></i></span><span> 建议</span>
    </li>    
    <li class="side-menu-item res-display-l" ng-class="{active: pos=='my'}" ng-click="onSideMenu('my')">
        <span><i class="icon  ion-person"></i></span><span> 我的家居</span>
    </li>
