
@import '../../vendor/bootstrap/less/variables.less';
@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import "../../vendor/bootstrap/less/forms";
@import "../../vendor/bootstrap/less/modals";
@import "../../vendor/bootstrap/less/tables";
@import "../../vendor/bootstrap/less/wells";

//@import "../../vendor/font-awesome/less/font-awesome";
//@import  "../../vendor/ionic-0.9.17-alpha/dist/css/ionic";
//@import "../../vendor/ionic-0.9.17-alpha/dist/css/themes/ionic-ios7";


@import "variables";
@import "mixinx";
@import "utilities";
//@import "popup";
//@import "transition";
//@import "animation";

#content {
  padding-top: 60px;
  padding-bottom: 60px;
}
#header{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}
.left-sidebar{
  position: absolute;
  padding-right: 2px;
}

button{
  &.ng-click-active{
    background: @bg-active-click;
  }
  &.active{
    background: @bg-active-state;
  }
}

a, .item{
//  font-size: 18px;
  &.ng-click-active{
    background: @bg-active-click;
  }
  &.active{
    color: @color-active;
    background: @bg-active-state;
  }

}

button[disabled], input[disabled]{
  color: gray !important;
}

//select{
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  background-color: #fff;
//  border: 1px solid #ccc;
//  -webkit-border-radius: 3px;
//  -moz-border-radius: 3px;
//  border-radius: 3px;
//  color: #484848;
//  cursor: pointer;
//  text-align: left;
//}
//
//.select-wrapper{
//  position: relative;
//  >select{
//    width: 100%;
//  }
//  >i{
//    position: absolute;
//    right: 5px;
//    // (34 -14) /2
//    top: 10px;
//  }
//}

.item-input{

  >input, .select-wrapper, textarea{
    .flex2;
  }
  >span{
    .flex1;
  }
}

@import "../app/home/home";
@import "responsive";