
@import "mixinx";
// from boostrap

.fill{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  background: @bodyBackground;
}

.back{
  .rotateY(180deg);
}

.flex1{
  .flex(1);
}
.flex2{
  .flex(2);
}

.box-center {
  .flex-box;
  .box-pack(center);
  .box-align(center);
  //new
  .flex-align(center);
  .flex-pack(center);
}

.box-align-center{
  .flex-box;
  .box-align(center);
  //new
  .flex-align(center);
}

.box-align-hcenter{
  .flex-box;
  .box-orient(vertical);
  .flex-direction(column);
  .box-align(center);
  .flex-align(center);
}

.vbox-justify{
  .flex-box;
  .box-orient(vertical);
  .box-pack(justify);
  //new
  .flex-direction(column);
  .flex-pack(space-around);
}

.hbox-justify{
  .flex-box;
  .box-orient(horizontal);
  .box-pack(justify);
  padding: 0 15px;
  //new
  .flex-direction(row);
  .flex-pack(space-around);
}
