

<header class="bar bar-header bar-dark main-bar"
        trans-flag="env.noHeader"
        trans-style="'from-top'"
        trans-hide>
    <a ng-click="onBack()">
        <span ng-show="back">
            <i class="icon ion-ios7-arrow-back"></i> {{back}}
        </span>
        <span ng-hide="back">
            我的家居
        </span>
    </a>
    <h3 class="flex1"></h3>
    <a class="right" ng-click="onRight($index)" ng-repeat="r in env.right" ng-bind-html='r'></a>
    <a class="right" ng-show='env.count'>({{env.count}})</a>
</header>

<header class="bar bar-subheader res-has-side"
        trans-flag="!env.filters"
        trans-style="'from-top'"
        trans-hide>
    <form class="flex1" ng-submit="onSearch(se)" ng-class="{focused:inFocus}">
        <label class="box-align-center">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" ng-model="se" ng-focus="inFocus=1" ng-blur="inFocus=0" placeholder="搜索">
        </label>
    </form>

    <a class="filter-menu" ng-class="{active:cleared}" ng-click="onAll()">
        全部
    </a>

    <a class="filter-menu res-hide-l" ng-class="{active:!cleared}" ng-click="onFilter()">
        筛选
    </a>

    <list-filter ng-repeat="filter in env.filters"></list-filter>

</header>

<ul class="side-pane res-side-pane"
    include="modal/sideMenu.tpl.html"
    trans-flag="env.noSide"
    trans-style="'res-from-side'"
    trans-hide></ul>

<cache-view class="content-view res-has-side"></cache-view>

