
<!DOCTYPE html>
<html lang="zh-cn" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>统计数据</title>

    <link href="/m/libs/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body ng-app="app" ng-controller="AppCtrl" include="app.tpl.html">
    <script>
       window.lang = 'zh-cn'
    </script>
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    <script src="/m/locale/zh-cn.js"></script>
</body>
</html>

