
<div class="row-fluid">
    <div class="span6 offset3">
        <div>{{msg.name}}</div>
        {{msg.text}}
        <input type="text" ng-model="babyname" typeahead="name for name in names | filter:$viewValue | limitTo:8">
        on
        <div class="form-horizontal">
            <p>
                <input type="text" datepicker-popup ng-model="birthdate" is-open="dateOpened" />
                <button class="btn" ng-click="onDateOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
            </p>
        </div>
        <a class="btn btn-primary" ng-click="onDone()">OK</a>
    </div>
</div>