
<div class="row">
    <div class="col-sm-3 sidebar">
        <form role="form">
            <div class="form-group">
                <label for="selectProduct" trans>Select Product</label>
                <select class="form-control" id="selectProduct"
                        ng-model="product" ng-options="p.title for p in products" required>
                </select>
            </div>
            <div class="form-group">
                <label for="selectStartDate" trans>Select Start Date</label>
                <p class="input-group">
                    <input id="selectStartDate" type="text" class="form-control"
                           datepicker-popup datepicker-append-to-body="true"
                           ng-model="date" is-open="dateOpened" max-date="maxDate"
                           ng-click="onDateOpen($event)" required />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="onDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                </p>
            </div>
        </form>

    </div>
    <div class="col-sm-9 col-sm-offset-3 main">
        <h1 class="page-header">{{customer.title}}</h1>

        <div class="row placeholders">
        </div>

        <h2 class="sub-header" trans>Product status</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th trans>Product name</th>
                        <th trans>Date</th>
                        <th trans>new users</th>
                        <th trans>total users</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in dataset track by d.id">
                        <td>{{productName(d.product)}}</td>
                        <td>{{d.created}}</td>
                        <td>{{d.new}}</td>
                        <td>{{d.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>